<div class="event-instances-container">
  <ol class="breadcrumb">
    <li><a href="#events">Events</a></li>
    <li class="active"><%= event.get('name') %> Instances</li>
  </ol>

  <button class="btn btn-primary btn-lg btn-block create-instance">Log New: <%= event.get('name') %></button>

  <div class="row instance-filter">
    <div class="btn-group col-xs-12" data-toggle="buttons">
      <label class="btn btn-primary filter all">
        <input type="radio" value="all" name="filter-option">All
      </label>
      <label class="btn btn-primary filter month">
        <input type="radio" value="month" name="filter-option">Current Month
      </label>
      <label class="btn btn-primary filter last7">
        <input type="radio" value="last7" name="filter-option">7 Days
      </label>
      <label class="btn btn-primary filter last30">
        <input type="radio" value="last30" name="filter-option">30 Days
      </label>
    </div>
  </div>

  <div class="summary">
    <p>
      Displaying <strong> <%= displayedDays %></strong> days and 
      <strong><%= total %></strong> events
      (<strong><%= percentage %>%</strong>)
    </p>
  </div>

  <ul class='event-instances-list bordered-list'>
  <% _.each(eventInstances, function(item){ 
     %>
    <li class='event-instance-item <%= item.customCss %>'>
      <% if (item.isNewItem){ %>
        <strong>Just Added - </strong>
      <% } %>
      <strong><%= item.formattedDate() %></strong>
      at <%= item.formattedTime() %>
    </li>
  <% }) %>
  </ul>

</div>
