/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min.css
 */

.bordered-list {list-style-type: none; padding-top: 15px; padding-left: 0;}
.bordered-list li {padding-left: 10px; padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #e7e7e7; border-right: 1px solid #e7e7e7; border-left: 1px solid #e7e7e7;}
.bordered-list li:last-child {border-bottom: 1px solid #e7e7e7; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;}
.bordered-list li:first-child {border-top-left-radius: 15px; border-top-right-radius: 15px;}

.events-container {padding-left: 5px; list-style-type: none;}
.events-container .event-item {padding-left: 0px; padding-top: 0px; padding-bottom: 0px; font-size: 18px;}
.events-container .event-item:hover {background: #f8f8f8;}
.events-container .event-item a {display: block; padding-top: 20px; padding-bottom: 20px; padding-left: 20px;}
.events-container li {border-bottom: 1px solid #e7e7e7; border-right: 1px solid #e7e7e7; border-left: 1px solid #e7e7e7;}
.events-container li:first-child {border: 1px solid #e7e7e7; border-top-left-radius: 15px;border-top-right-radius: 15px;}
.events-container li:last-child {border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;}
.events-container .event-item a:hover {text-decoration: none;}
